<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingCertificate</key>
	<string>iPhone Developer: tokyoliyi@139.com (4L2538JF6G)</string>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.ttmc.ttmcwallet</key>
		<string>vankia-ttmc.mobileprovision</string>
	</dict>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>tokyoliyi@139.com</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
